<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/universal.css">
    <link rel="stylesheet" href="/css/board.css">
    <script src="/js/csi.min.js"></script>
    <script src="/js/board.js"></script>
    <title>/vg - Video Gaymes</title>
  </head>
  <body>
    <!-- the hidden value stuffs -->
    <div id="current-board" hidden="true">vg</div>
    <h1>Video Gaymes</h1>
    <h2>/vg</h2>

    <div id='create-post' class="mid-section">
      <div class="section-head">Make new post</div>
      <input type="text" name="" value="" placeholder="Thread title" id="text-title"><br>
      <textarea name="name" rows="8" placeholder="Body text" id="text-body"></textarea><br>

      Tripcode (Leave blank to opt out)<br>
      <input type="text" name="" value="" id="text-tripcode-un" placeholder="username"><input type="password" name="" value="" id="text-tripcode-pw" placeholder="password">

      <br><br>
      <button type="button" id="butn-post">Post</button>
      <div id="status-message"></div>
    </div>

    <div id="board-posts">
      <div class="post-entry">
        <div class="post-title">Po Po Po Po?</div>
        <div class="post-tripcode">obamaandbiden</div>
        <div class="post-body">
          > Be former president of the United States<br>
          > Worked my ass off for 8 years to fix an financial crisis<br>
          > Only to be succeeded by an orangutan taking all the credits for the recovering economy and fucking up the country<br>
          > 4 years later<br>
          > My former VP booted that crackhead out in landslide popular vote<br>
          > "Yo Barrack, I'm in charge now! No one can stop me from building the ice cream room!"<br>
          > I rope
        </div>
        <div class="post-replies">
          <div class="post-reply">
            <div class="reply-author">anonymous</div>
            <div class="reply-body">
              stfu fa**ot
            </div>
          </div>
          <div class="post-reply">
            <div class="reply-author">AnchuentDebris</div>
            <div class="reply-body">
              Hail Biden!
            </div>
          </div>
          <div class="post-reply">
            <div class="reply-author">tlavita</div>
            <div class="reply-body">
              But really tho, who would've thought the orangutan will get elected<br>
              Mans actually good at breaching loopholes and dividing people<br>
              Oh well let's see if sleepy Joe do any better than Barrack
            </div>
          </div>
        </div>
      </div>
      <div class="post-entry">
        <div class="post-title">We were here</div>
        <div class="post-tripcode">nephrys</div>
        <div class="post-body">
          > We were here<br>
          > roaming on the endless prarie<br>
          > writing our endless story<br>
          > building a walden of our own
        </div>
        <div class="post-replies">
          <div class="post-reply">
            <div class="reply-author">caldera</div>
            <div class="reply-body">
              WE WERE HERE
            </div>
          </div>
          <div class="post-reply">
            <div class="reply-author">Siapa</div>
            <div class="reply-body">
              Lifting the silent faces...
            </div>
          </div>
          <div class="post-reply">
            <div class="reply-author">nephrys</div>
            <div class="reply-body">
              Conquering the darkess places!!!
            </div>
          </div>
          <div class="post-reply">
            <div class="reply-author">anonymous</div>
            <div class="reply-body">
              Time to rest now and to finish the show
            </div>
          </div>
          <div class="post-reply">
            <div class="reply-author">sabri</div>
            <div class="reply-body">
              and become the music,<br>
              one with Alpenglow!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="post-item"></div>

    <div data-include="/footer"></div>
  </body>
</html>
