{{define "header_all"}}
<!-- the favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/img/favicon/site.webmanifest">
<!-- the image for preview bar -->
<meta property="og:title" content="2πBoard">
<meta property="og:image" content="/img/2piboard_logo.png">
<meta property="og:type" content="website">
{{end}}
